@import '../../styles/global-styles.scss';

.top-bar{
  background-color: $color1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 40px;
}

.top-bar a {
  text-decoration: none;
  color: $color5;
  transition: color .2s;
}

.top-bar a:hover {
  color: #ffd152;
}

.top-bar-right {
  font-size: 12px;
  float: right;
  color: $color5;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px 5px;
  }

.top-bar-right svg {
  vertical-align: top;
  padding-right: 5px;
}

.navigation{
  display: inline-block;
  list-style-type: none;
  padding: 0px;

  margin: 0px;
}



.navigation li{
  padding: 5px 0;
  font-size: 16px;
  display: inline-block;
  padding-right: 10px;
}
